.feedbackSection {
  padding: 10px;
  max-width: 30vw;
  margin: 0 auto;
}

.feedbackButton {
  margin: 0 10px;
}

.feedbackList {
  list-style: none;
  padding: 0;
}

.feedbackListItem {
  margin: 5px 0;
}
